body
{
	font-family: Trebuchet MS;
	font-size: 10pt;
}

.DataTable
{
	border-color: Purple;
	background-color: Purple;
}

.TableItem
{
	background-color: #FFFFDD;
	font-size: 9pt;
}

.AltTableItem
{
	background-color: #EEEEEE;
	font-size: 9pt;
}

.TableHeader
{
	background-color: #DDDDDD;
	font-size: 8pt;
	font-family: Tahoma;
}

TD
{
	font-size: 10pt;
}

a
{
	color: Purple !important;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

a.AdminLink
{
	font-family: Tahoma;
	font-size: 3pt !important;
    font-style: italic !important;
	color: blue !important;
}

.button
{
	background-color: yellowgreen !important;
	color: blue;
	font-family: Tahoma;
}